{% extends "core/admin_base.html" %}

{% block title %}Admin Settings{% endblock %}

{% block content %}
<div class="container" style="max-width: 520px;">

    <h1 class="fw-bold mb-4">Admin Logout</h1>

    <div class="card shadow-sm border-0">
        <div class="card-body">

            <p class="mb-3">
                Logged in as <strong>{{ request.user.email }}</strong>
            </p>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger w-100">
                    Logout
                </button>
            </form>
            

        </div>
    </div>

</div>
{% endblock %}
